<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.spring.mybatis.mapper.DictionaryTypeMapper">
	<resultMap id="BaseResultMap" type="com.krt.spring.mybatis.entity.DictionaryType">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
	    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
	    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
	    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	    <result column="sort" jdbcType="INTEGER" property="sort" />
	</resultMap>

	<sql id="Base_Column_List">
		id, code, name, remark, create_user, create_date, update_user, update_date, sort
	</sql>

	<select id="selectById" resultType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from dictionary_type
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from dictionary_type
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.krt.spring.mybatis.entity.DictionaryType">
		insert into dictionary_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="sort != null">
				sort,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.krt.spring.mybatis.entity.DictionaryType">
		update t_dictionary_type
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 管理页 -->
	<select id="selectListPara" resultType="java.util.Map">
		select id, code, name, remark, sort from dictionary_type where 1=1
		<if test="code!=''">
			and code=#{code}
		</if>
		<if test="name!=''">
			and  name like concat('%',#{name},'%')
		</if>
	</select>
	
	<!-- 检测字典编码 -->
	<select id="checkCode" resultType="java.lang.Integer">
		select count(id) from dictionary_type where code=#{code}
		<if test="id!=null">
			and id != #{id}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from dictionary_type
	    where id = #{id,jdbcType=INTEGER}
	 </delete>
	  
	 <select id="findAll" resultType="DictionaryType">  
        select * from dictionary_type  
    </select>
</mapper>