<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.spring.mybatis.mapper.DictionaryMapper">
	<resultMap id="BaseResultMap" type="com.krt.spring.mybatis.entity.Dictionary">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
	    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
	    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
	    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	    <result column="sort" jdbcType="INTEGER" property="sort" />
	</resultMap>

	<sql id="Base_Column_List">
		id, type, pid, code, name, remark, create_user, create_date, update_user, update_date, sort
	</sql>
	
	<select id="findAll" resultType="Dictionary">  
        select * from dictionary  
    </select>

	<select id="selectById" resultType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from dictionary
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from dictionary
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.krt.spring.mybatis.entity.Dictionary">
    insert into dictionary (id, type, pid, code, name, remark)
    values (#{id,jdbcType=INTEGER},  #{type,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>

	<update id="update" parameterType="com.krt.spring.mybatis.entity.Dictionary">
		update t_dictionary
		<set>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 字典管理 -->
	<select id="selectListPara" resultType="java.util.Map">
		select id, type, pid, code, name, remark, sort from dictionary where type=#{type} and pid=#{pid} 
		<if test="code!=''">
			and code=#{code}
		</if>
		<if test="name!=''">
			and  name like concat('%',#{name},'%')
		</if>
	</select>
	
	<!-- 检测字典代号 -->
	<select id="checkCode" resultType="java.lang.Integer">
		select count(id) from dictionary where code=#{code} and type=#{type}
		<if test="id!=null">
			and id != #{id}
		</if>
	</select>
	
	<!-- 查询子集 -->
	<select id="selectChildList" resultType="java.util.Map">
		select id, type, pid, code, name, remark, sort from dictionary where pid=#{id}
	</select>
	
	<!-- 根据类别删除 -->
	<delete id="deleteByType">
		delete from dictionary where type=#{type}
	</delete>
	
	<!-- 查询字典 -->
	<select id="selectDicByPidAndType" resultType="java.util.Map">
		select id, type, pid, code, name, remark, sortNo from dictionary where pid=#{pid} and type=#{type}
	</select>
</mapper>