<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.spring.mybatis.mapper.RoleMapper">
<resultMap id="BaseResultMap" type="com.krt.spring.mybatis.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="roleType" jdbcType="VARCHAR" property="roleType" />
  </resultMap>
	<select id="findAll" resultType="Role">  
        select * from role  
    </select>
    
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.krt.spring.mybatis.entity.Role">
    insert into role (id, name, roleType)
    values (#{id,jdbcType=INTEGER},  #{name,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.krt.spring.mybatis.entity.Role">
    update role
    set 
      name = #{name,jdbcType=VARCHAR},
      roleType = #{roleType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <select id="selectMenuId" resultType="Integer">
  	select menu_id from role_menu where role_id in
  					<foreach item="item" index="index" collection="list" 
	                         open="(" separator="," close=")">
	                        #{item}
	                </foreach>
  </select>
  
  <!-- 处理批量插入 mybaits -->
  <insert id="insertAssignUserMap" >
    insert into user_role (user_id, role_id)
    values 
    <foreach item="item" collection="userIds" separator=",">
	    (#{item},#{roleId})                    
    </foreach>
  </insert>
</mapper>
